site/
docs/build/
guides/
audit/
audit_caching.md
audit_jit.md

.DS_Store
.coverage
.idea/
.venv*/
__pycache__/
*.egg-info/
build/
dist/
docs/_build/

playpit.ipynb
sphere_descent.ipynb
sphere_descent_fixed.ipynb
test_speed_good.ipynb
